@font-face {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 500;
    src: local('Alegreya Sans Medium'), local('AlegreyaSans-Medium'), url(../fonts/alegreyasans.woff2) format('woff2');
}

@font-face {
    font-family: 'Quattrocento Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Quattrocento Sans'), local('QuattrocentoSans'), url(../fonts/quattrocentosans.woff2) format('woff2');
}

@font-face {
    font-family: SimpleSite;
    src: url(../fonts/simplesite-webfont-2.ttf) format('truetype'), url(../fonts/simplesite-webfont-2.svg#simplesite) format('svg');
    font-weight: 400;
    font-style: normal
}

[class^=icon-],
[class*=" icon-"] {
    font-family: SimpleSite;
    font-weight: 400;
    font-style: normal;
}

[class^=icon-]::before,
[class*=" icon-"]::before {
    text-decoration: inherit;
    display: inline-block;
}

a [class^=icon-] {
    display: inline;
}

.icon-facebook-sign::before {
    content: '\e83c';
}

.icon-twitter-sign::before {
    content: '\e83d';
}

.icon-google-plus::before {
    content: '\e83b';
}

body {
    margin: 0;
    font-family: 'Quattrocento Sans', 'Arial', sans-serif;
    font-size: 16px;
    color: #000;
    letter-spacing: initial;
    position: relative;
    background-color: #d5f46b;
    background-image: url(../images/wine.png);
    background-repeat: repeat-x;
    background-position: 0 0;
    background-attachment: scroll;
    background-size: auto;
}

.site-wrapper {
    background-color: #fff;
    min-width: 980px;
    width: 980px;
    max-width: 980px;
    padding: 0;
    margin: 0 auto 50px auto;
    border-top: none;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 24px rgba(0, 0, 0, .8);
}

.header-wrapper {
    color: #fff;
    background-color: #535353;
}

.container {
    padding: 0 20px 0 20px;
    overflow: auto;
}

.container::before .container::after {
    clear: both;
}

.title-wrapper {
    padding: 30px 0;
}

.header-wrapper .title-wrapper .title {
    color: #d5f46b;
    font-family: 'Alegreya Sans', Arial, sans-serif;
    font-size: 47px;
    line-height: 47px;
    padding: 6px 0;
}

.header-wrapper .title-wrapper .subtitle {
    color: #fff;
    font-family: 'Alegreya Sans', Arial, sans-serif;
    font-size: 22px;
    line-height: 22px;
    padding: 2px 0;
}

a.title {
    text-decoration: none;
}

a.title:hover {
    text-decoration: underline;
}

.header-wrapper .navbar {
    position: relative;
}

.navbar {
    font-family: 'Quattrocento Sans', Arial, sans-serif;
    font-size: 16px;
    background-color: #303030;
}

.navbar a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
    line-height: 35px;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar a.active {
    font-weight: 700;
}

.content-wrapper {
    overflow: auto;
}

.content-wrapper>.container {
    display: block;
}

.content-wrapper>.container>div {
    padding: 30.4px 0 22px 0;
    display: block;
    float: left;
}

.span9 {
    width: 74.46808511%;
}

.span3 {
    width: 23.40425532%;
}

#left {
    margin-left: 0;
}

#right {
    margin-left: 2.12765957%;
}

.wrapper>.heading h4,
.section>.heading h4,
.sidebar .wrapper>.heading h4,
.sidebar .section>.heading h4 {
    font-family: 'Alegreya Sans', Arial, sans-serif;
    font-size: 22px;
    line-height: 24px;
    font-weight: 400;
}

.wrapper>.heading h3,
.section>.heading h3,
.sidebar .wrapper>.heading h3,
.sidebar .section>.heading h3,
.wrapper>.heading h4,
.section>.heading h4,
.sidebar .wrapper>.heading h4,
.sidebar .section>.heading h4 {
    margin: 0
}

.wrapper>.heading {
    padding: 9.6px 0;
}

.span6 {
    float: left;
    width: 48.93617021%;
}

img {
    max-width: 100%;
    height: auto;
}

div.img-simple {
    background: 0 0;
    padding: 0;
    margin: 3px 0 8px;
}

div.img-simple.pull-left {
    margin-top: 3px!important;
    margin-right: 20px!important;
}

div.img-simple .image {
    overflow: hidden;
    display: inline-block;
    border-radius: 10px;
    max-width: 100%;
}

p {
    margin: 0 0 11px;
}

.section {
    margin-top: 16px;
    overflow: auto;
}

.wrapper>.content> :last-child,
.section>.content> :last-child,
.sidebar .wrapper>.content> :last-child,
.sidebar .section>.content> :last-child {
    margin-bottom: 0;
}

.sidebar .wrapper {
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .29);
    border-radius: 10px;
}

.sidebar .wrapper>.heading {
    margin: 0;
    padding: 11px 15px;
}

.sidebar .wrapper>.content {
    margin: 0;
    padding: 11px 15px;
}

.sidebar .wrapper>.heading+.content {
    padding-top: 5.5px;
}

.sidebar .share-box ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.content-wrapper a,
.sidebar a {
    color: #000;
    text-decoration: underline;
}

.sidebar .share-box ul>li>a>i {
    text-decoration: none !important;
    line-height: normal;
}

.sidebar .share-box ul>li i+span {
    margin-left: 8px;
}

.footer-wrapper {
    color: #000;
    background-color: #fff;
    height: auto;
    border-radius: 0 0 10px 10px;
}

.footer-wrapper>.container {
    border-top: 1px solid rgba(0, 0, 0, .2);
    padding: 32px 0 22px 0;
    margin: 0 20px;
}

.footer-wrapper .footer-info {
    float: left;
    max-width: 75%;
    font-size: 16px;
}

.footer-wrapper .footer-page-counter {
    float: right;
    margin: 0 0 16px 0;
}

.footer-wrapper .footer-page-counter .footer-page-counter-item {
    background: #fff;
    font-size: 14.4px;
    font-family: Arial, sans-serif;
    line-height: 14.4px;
    padding: 2px 2px 1px;
    margin: 3px 2px 0 0;
    border: solid 0 #000;
    border-radius: 4px;
    box-shadow: 0 1px 2px #595959;
    float: left;
    text-align: center;
    font-weight: 700;
    width: 10px;
    position: relative;
}

.footer-wrapper .footer-page-counter .footer-page-counter-item::before {
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 52%;
    left: 0;
    margin-top: -1px;
    background: rgba(0, 0, 0, .25);
    width: 100%;
}

.row-fluid [class*="span"] {
    display: block;
    min-height: 32px;
    float: left;
    margin-left: 2.12765957%;
}

.row-fluid [class*="span"]:first-child {
    margin-left: 0;
}

body .wrapper .content .row-fluid {
    width: 100%;
    overflow: auto;
}

body .wrapper .content .row-fluid.padding-all {
    margin-left: 20px;
}

body .row-fluid.margins-topbottom {
    margin: 20px 0px;
}

.row-fluid .span12 {
    width: 100%;
}

body .section.margins-on {
    padding: 20px 20px 20px 0;
    margin: 0;
}

.section>.heading {
    font-size: 20px;
    padding: 9.6px 0;
    margin: 0;
}

h3 {
    font-family: 'Alegreya Sans', Arial, sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 32.8px;
}

.section>.heading h3 {
    font-family: 'Alegreya Sans', Arial, sans-serif;
    font-weight: 500;
    line-height: 32.8px;
}

p>span {
    font-size: 24px;
}

.wordwrapfix {
    word-wrap: break-word;
}

.section:first-child>.heading+.content {
    padding-top: 11px;
}

.section:last-child {
    border-bottom: 0;
}

.wrapper>.heading+.content {
    padding-top: 11px;
}

.wrapper>.content {
    padding: 22px 0;
    margin: 0
}

.section:first-child {
    padding-top: 0;
    margin-top: 0;
}

body .content-wrapper .wrapper>.content:first-child {
    padding-top: 0;
}